<div class="tab {{this.tabs.chase.cssClass}}" data-group="main" data-tab="chase">
    <div class="menu-outer-container">
        {{> "modules/pf2e-subsystems/templates/menu/subsystem-menu/partials/system-tabs.hbs" tabs=this.tabs }}
        <div class="menu-main-container primary-container">
            <div class="menu-group">
                <div class="menu-form">
                    <div>{{localize "PF2ESubsystems.Menus.Subsystems.Chase.PlayersCanEditPosition"}}</div>
                    <input type="checkbox" name="chase.playersCanEditPosition" {{checked this.settings.playersCanEditPosition}} />
                </div>
            </div>
            <div class="menu-group">
                <div class="menu-form">
                    <div>{{localize "PF2ESubsystems.Menus.Subsystems.Chase.HideObstacleLockIcon"}}</div>
                    <input type="checkbox" name="chase.hideObstacleLockIcon" {{checked this.settings.hideObstacleLockIcon}} />
                </div>
            </div>
        </div>
        {{> "modules/pf2e-subsystems/templates/menu/subsystem-menu/partials/system-footer.hbs" }}
    </div>
</div>