<div class="tab {{this.systems.systemView.cssClass}}" data-group="main" data-tab="systemView">
    <div class="systems-container primary-text-container">
        <header class="header-section">
            HeaderTest
        </header>
        <div class="main-section">
            <div class="systems-section sheet-tabs tabs">
            {{#each this.systems as |system key|}}
                    {{#if (not system.unselectable)}}
                        <div class="system-section clickable-icon {{system.cssClass}}" data-action="tab" data-group={{system.group}} data-tab={{system.id}}>
                            <div class="system-section-label">
                                <div>{{system.label}}</div>
                            </div>
                            <img src="{{system.image}}" />
                        </div>
                    {{/if}}
            {{/each}}
            </div>
        </div>
    </div>
</div>