<div class="event-select-container">
    <div class="events-outer-container">
        <div class="system-title-container">
            <div class="system-title-navigation tabs">
                {{> "modules/pf2e-subsystems/templates/partials/navigate-back.hbs" label=(localize "PF2ESubsystems.View.ReturnToSubsystems") action="tab" group="main" tab="systemView" }}
            </div>
            <div class="system-title-inner-container title-large-container primary-text-container">
                <div>{{this.plural}}</div>
                {{#if this.isGM}}<i class="fa-solid fa-plus system-title-add-button primary-text-container clickable-icon" data-action="addEvent"></i>{{/if}}
            </div>
        </div>
                
        <div class="events-container">
            {{#each this.events}}
                {{#if (or (not this.hidden) ../isGM)}}
                    <div class="event-container" data-action="selectEvent" data-event="{{this.id}}">
                        <div class="event-container-header primary-container">
                            <div class="event-title">{{this.name}}</div>
                            {{#if ../isGM}}
                                <div class="event-toolbar">
                                    <div class="event-toolbar-inner primary-container">
                                        <i class="{{#if this.hidden}}fa-solid fa-eye-slash{{else}}fa-solid fa-eye{{/if}} clickable-icon" title="{{#if this.hidden}}{{localize "PF2ESubsystems.View.RevealToPlayers"}}{{else}}{{localize "PF2ESubsystems.View.HideFromPlayers"}}{{/if}}" data-action="toggleHideEvent" data-event="{{this.id}}"></i>
                                        <i class="fa-solid fa-pen-to-square event-edit clickable-icon" title="{{concat (localize "PF2ESubsystems.Basic.Edit") " " this.name}}" data-action="editEvent" data-event="{{this.id}}"></i>
                                        <i class="fa-solid fa-trash event-remove clickable-icon" title="{{concat (localize "PF2ESubsystems.Basic.Remove") " " this.name}}" data-action="removeEvent" data-id="{{this.id}}"></i>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                        <img class="primary-border-container" src="{{this.background}}" />
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
