<div class="event-outer-container">
    <div class="flexrow">
        {{> "modules/pf2e-subsystems/templates/partials/navigate-back.hbs" label=(localize "PF2ESubsystems.Research.NavigateBack") action="navigateToSystem" }}
        {{#if this.clipboardFallback}}
            <div class="event-clipboard-fallback secondary-container">
                <input type="text" value="{{this.clipboardFallback}}" class="clipboard-fallback-input secondary-container" />
                <button data-action="closeClipboardFallback" class="tertiary-container"><i class="fa-solid fa-x"></i></button>
            </div>
        {{/if}}
    </div>
    <div class="event-container">
        <div class="event-sidebar">
            <div class="event-image">
                <img src="{{this.event.background}}" />
                </div>
            <div class="research-points-container primary-container">
                <div>{{localize "PF2ESubsystems.Research.ResearchPoints"}}:</div>
                &nbsp;
                <div class="research-points-number-container">
                    {{#if this.isGM}}<i class="fa-solid fa-caret-up clickable-icon research-points-number-upper" data-action="researchUpdateResearchPoints" data-event="{{this.event.id}}" data-increase="true"></i>{{/if}}
                    <div>{{this.event.researchPoints}}</div>
                    {{#if this.isGM}}<i class="fa-solid fa-caret-down clickable-icon {{#if (eq this.event.researchPoints 0)}}disabled{{/if}} research-points-number-lower" {{#if (gt this.event.researchPoints 0)}}data-action="researchUpdateResearchPoints"{{/if}} data-event="{{this.event.id}}"></i>{{/if}}
                </div>
            </div>
            {{#if this.showTimeLimit}}
                <div class="time-limit-container primary-container">
                    {{#if this.editMode}}
                        <div class="event-field-group">
                            <div class="event-field-col-form text-normal">
                                <div>{{localize "PF2ESubsystems.View.TimeUnit"}}</div>
                                <select name="{{concat "events." this.event.id ".timeLimit.unit" }}" class="tertiary-container primary-text-container">
                                    {{selectOptions this.timeUnits selected=this.event.timeLimit.unit valueAttr="value" labelAttr="name" localize=true}}
                                </select>
                            </div>
                            <div class="event-field-col-form text-normal">
                                <div>{{localize "PF2ESubsystems.View.MaxTime"}}</div>
                                <input class="tertiary-container" type="text" data-dtype="number" name="{{concat "events." this.event.id ".timeLimit.max"}}" value="{{this.event.timeLimit.max}}" />
                            </div>
                        </div>
                    {{else}}
                        <div>{{localize "PF2ESubsystems.Research.TimeLimit"}}&nbsp;({{localize this.event.timeLimit.unitName}}):</div>
                        &nbsp;
                        <div class="flexrow">
                            <div class="time-limit-number-container">
                                {{#if this.isGM}}<i class="fa-solid fa-caret-up clickable-icon {{#if (gte this.event.timeLimit.current this.event.timeLimit.max)}}disabled{{/if}} time-limit-number-upper" {{#if (lt this.event.timeLimit.current this.event.timeLimit.max)}}data-action="researchUpdateTimeLimitCurrent"{{/if}} data-event="{{this.event.id}}" data-increase="true"></i>{{/if}}
                                <div>{{this.event.timeLimit.current}}</div>
                                {{#if this.isGM}}<i class="fa-solid fa-caret-down clickable-icon {{#if (eq this.event.timeLimit.current 0)}}disabled{{/if}} time-limit-number-lower" {{#if (gt this.event.timeLimit.current 0)}}data-action="researchUpdateTimeLimitCurrent"{{/if}} data-event="{{this.event.id}}"></i>{{/if}}
                            </div>
                            /
                            <div>{{this.event.timeLimit.max}}</div>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
            <div class="research-premise primary-container accent">
                <div class="title-container primary-container">
                    {{localize "PF2ESubsystems.Basic.Premise"}}
                </div>
                <div class="research-premise-content">
                    {{#if this.editMode}}
                        <textarea class="secondary-container" name="{{concat "events." this.event.id ".premise"}}" value="{{this.event.premise}}">{{{this.event.enrichedPremise}}}</textarea>
                    {{else}}
                        <span class="text-container">{{{this.event.enrichedPremise}}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="event-main-container">
            <div class="event-header-container">
                <div class="event-header-title-container">
                    <div class="event-header-title title-container secondary-container">{{this.event.name}}</div>
                </div>
                {{#if this.isGM}}
                    <div class="event-header-toolbar secondary-container">
                        <button class="tertiary-container" data-action="startEvent" data-event="{{this.event.id}}">{{localize "PF2ESubsystems.Research.StartResearch"}}</button>
                        <button class="tertiary-container event-header-toolbar-edit-container" data-action="editEventToggle">
                            <span class="event-header-toolbar-edit-container-label {{#if this.editMode}}highlighted{{/if}}">{{localize "PF2ESubsystems.Research.EditResearch"}}</span>
                            <div class="edit-mode-box-container {{#if this.editMode}}secondary-container{{/if}}">
                                {{#if this.editMode}}<i class="fa-solid fa-screwdriver-wrench"></i>{{/if}}
                            </div>
                        </button>
                        <i class="fa-solid fa-passport primary-hover-container" data-action="copyStartEventLink" data-event="{{this.event.id}}" title="{{localize "PF2ESubsystems.View.CopyStartEventLink"}}"></i>
                    </div>
                {{/if}}
            </div>

            <div class="research-checks-container primary-container accent">
                <div class="title-container primary-container">
                    <div class="title-container-inner">
                        {{localize "PF2ESubsystems.Research.ResearchChecks"}}
                        {{#if this.editMode}}<i class="fa-solid fa-plus clickable-icon" data-action="addResearchCheck" data-event="{{this.event.id}}"></i>{{/if}}
                    </div>
                </div>
                <div class="research-checks-inner-container primary-text-container">
                    {{#if (and (not this.isGM) (eq this.revealedResearchChecks 0))}}
                        <div class="event-section-placeholder">{{localize "PF2ESubsystems.Research.ResearchChecksUnknown"}}</div>
                    {{else}}
                        {{#each this.event.researchChecks}}
                            {{#if (or ../isGM (not this.hidden))}}
                                <div class="research-check-container secondary-container">
                                    {{#if ../editMode}}
                                        <div class="research-check-header">
                                            <i class="fa-solid fa-trash clickable-icon research-check-delete-button" data-action="removeResearchCheck" data-event="{{../event.id}}" data-check={{this.id}}></i>

                                            {{#if (eq this.id ../selected.openResearchCheck)}}
                                                <nav class="tabs">
                                                    {{#each ../skillCheckTabs as |tab|}}
                                                        <a 
                                                            class="{{tab.cssClass}} tertiary-container" 
                                                            data-action="tab" 
                                                            data-group="{{tab.group}}" 
                                                            data-tab="{{tab.id}}"
                                                        >
                                                            <i class="{{tab.icon}}"></i>
                                                            <label>{{tab.label}}</label>
                                                        </a>
                                                    {{/each}}
                                                </nav>
                                            {{else}}
                                                <div class="title-small-container">{{this.name}}</div>
                                            {{/if}}
                                            
                                            <i class="fa-solid {{#if (eq this.id ../selected.openResearchCheck)}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-check-opener" data-action="researchToggleOpenResearchCheck" data-check="{{this.id}}"></i> 
                                        </div>
                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <div class="event-tab tab {{../skillCheckTabs.description.cssClass}}" data-group="{{../skillCheckTabs.description.group}}" data-tab="{{../skillCheckTabs.description.id}}">
                                                <div class="event-field-group">
                                                    <div class="event-field-form">
                                                        <div>{{localize "PF2ESubsystems.Basic.Name"}}</div>
                                                        <input class="tertiary-container" type="text" name="{{concat "events." ../event.id ".researchChecks." this.id ".name"}}" value="{{this.name}}" />
                                                    </div>
                                                    <div class="event-field-form">
                                                        <div>{{localize "PF2ESubsystems.Research.MaxResearchPoints"}}</div>
                                                        <input class="tertiary-container" type="text" data-dtype="number" name="{{concat "events." ../event.id ".researchChecks." this.id ".maximumResearchPoints"}}" value="{{this.maximumResearchPoints}}" />
                                                    </div>
                                                </div>
                                                <prose-mirror class="data-input tertiary-container" name="{{concat "events." ../event.id ".researchChecks." this.id ".description"}}" value="{{this.description}}">
                                                    {{{this.enrichedDescription}}}
                                                </prose-mirror>
                                            </div>

                                            <div class="event-tab tab {{../skillCheckTabs.skillChecks.cssClass}}" data-group="{{../skillCheckTabs.skillChecks.group}}" data-tab="{{../skillCheckTabs.skillChecks.id}}">
                                                <div class="research-check-skill-checks-outer-container tertiary-container">
                                                    <div class="research-check-skill-check-title title-small-container tertiary-container-active">
                                                        <div class="research-check-skill-check-title-inner">
                                                            {{localize "PF2ESubsystems.Research.SkillChecks"}}
                                                            <i class="fa-solid fa-plus clickable-icon" data-action="researchAddResearchCheckSkillCheck" data-event="{{../event.id}}" data-check="{{this.id}}"></i>
                                                        </div>
                                                    </div>
                                                    {{#each this.skillChecks}}
                                                        <div class="research-check-skill-checks-container">
                                                            <div class="research-check-skill-checks-full-field">
                                                                <label>{{localize "PF2ESubsystems.Basic.Description"}}</label>
                                                                <input type="text" name="{{concat "events." ../../event.id ".researchChecks." ../id ".skillChecks." this.id ".description"}}" value="{{this.description}}" class="tertiary-container accent primary-text-container" />
                                                            </div>
                                                            {{#each this.skills}}
                                                                <div class="research-check-skill-check-inner-container {{#if (not this.isFirst)}}padded{{/if}} tertiary-container accent">
                                                                    <i class="fa-solid fa-trash clickable-icon" data-action="researchRemoveSkill" data-event="{{../../../event.id}}" data-check="{{../../id}}" data-skill-check="{{../id}}" data-skill="{{this.id}}"></i>
                                                                    <div class="research-check-skill-check-value-container">
                                                                        <div>{{localize "PF2ESubsystems.Research.Lore"}}</div>
                                                                        <input type="checkbox" class="research-lore-input" data-event="{{../../../event.id}}" data-check="{{../../id}}" data-skill-check="{{../id}}" data-skill="{{this.id}}" {{checked this.lore}} />
                                                                    </div>
                                                                    <div class="research-check-skill-check-value-container full">
                                                                        <div>{{localize "PF2ESubsystems.Research.Skill"}}</div>
                                                                        {{#if this.lore}}
                                                                            <input type="text" class="research-skill-check-input" data-event="{{../../../event.id}}" data-check="{{../../id}}" data-skill-check="{{../id}}" data-skill="{{this.id}}" value="{{this.skill}}" />
                                                                        {{else}}
                                                                            <select name="{{concat "events." ../../../event.id ".researchChecks." ../../id ".skillChecks." ../id ".skills." this.id ".skill" }}" class="primary-text-container">
                                                                                {{selectOptions ../../../skillOptions selected=this.skill valueAttr="value" labelAttr="name" localize=true}}
                                                                            </select>
                                                                        {{/if}}
                                                                    </div>
                                                                    <div class="research-check-skill-check-value-container full">
                                                                        <div>{{localize "PF2ESubsystems.Research.Action"}}</div>
                                                                            <select name="{{concat "events." ../../../event.id ".researchChecks." ../../id ".skillChecks." ../id ".skills." this.id ".action" }}" class="primary-text-container">
                                                                                {{selectOptions ../../../actionOptions selected=this.action valueAttr="value" labelAttr="name" localize=true blank="" }}
                                                                            </select>
                                                                    </div>
                                                                    <div class="research-check-skill-check-value-container dc">
                                                                        <div>{{localize "PF2ESubsystems.Basic.DC"}}</div>
                                                                        <input type="text" data-dtype="number" name="{{concat "events." ../../../event.id ".researchChecks." ../../id ".skillChecks." ../id ".skills." this.id ".dc"}}" value="{{this.dc}}" />
                                                                    </div>
                                                                    <div class="research-check-skill-check-value-container">
                                                                        {{localize "PF2ESubsystems.Research.Basic"}}
                                                                        <input type="checkbox" name="{{concat "events." ../../../event.id ".researchChecks." ../../id ".skillChecks." ../id ".skillsd." this.id ".basic"}}" {{checked this.basic}} />
                                                                    </div>
                                                                    {{#if this.isFirst}}<i class="fa-solid fa-plus clickable-icon" data-action="researchAddSkill" data-event="{{../../../event.id}}" data-check="{{../../id}}" data-skill-check="{{../id}}" data-skill="{{this.id}}"></i>{{/if}}
                                                                </div>        
                                                            {{/each}}
                                                        </div>                        
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="research-check-header {{#if ../isGM}}extended{{/if}}">
                                            <div class="title-small-container">
                                                {{this.name}}
                                            </div>
                                            {{#if (or ../isGM (not ../settings.hiddenFields.researchCheckMaxRP))}}
                                                <div class="research-check-subheader text-helper-big">
                                                    <div>{{localize "PF2ESubsystems.Research.MaxResearchPoints"}}:</div>
                                                    &nbsp;
                                                    <div>{{this.maximumResearchPoints}}</div>
                                                </div> 
                                            {{/if}}  
                                            {{#if ../isGM}}<i class="fa-solid {{#if this.hidden}}fa-eye-slash{{else}}fa-eye{{/if}} clickable-icon research-check-hider" data-action="toggleResearchCheckHidden" data-event="{{../event.id}}" data-check="{{this.id}}"></i>{{/if}}
                                            <i class="fa-solid {{#if (eq this.id ../selected.openResearchCheck)}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-check-opener" data-action="researchToggleOpenResearchCheck" data-check="{{this.id}}"></i> 
                                        </div>
                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <div class="research-check-description">{{{this.description}}}</div>
                                            <div class="research-check-skill-checks">
                                                {{#each this.skillChecks}}
                                                    <div class="research-check-skill-check">
                                                        <span class="research-check-skill-check-title">{{{this.description}}}</span>
                                                        <div class="research-check-skill-check-buttons">
                                                            {{#each this.skills}}
                                                                <div class="research-check-skill-check-button">{{{this.element}}}</div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            <div class="research-breakpoints-container primary-container accent">
                <div class="title-container primary-container">
                    <div class="title-container-inner">
                        {{localize "PF2ESubsystems.Research.ResearchBreakpoints"}}
                        {{#if this.editMode}}<i class="fa-solid fa-plus clickable-icon" data-action="addResearchBreakpoint" data-event="{{this.event.id}}"></i>{{/if}}
                    </div>
                </div>
                <div class="research-breakpoints-inner-container primary-text-container">
                    {{#if (and (not this.isGM) (eq this.revealedResearchBreakpoints 0))}}
                        <div class="event-section-placeholder">{{localize "PF2ESubsystems.Research.ResearchBreakpointsUnknown"}}</div>
                    {{else}}
                        {{#each this.event.researchBreakpoints}}
                            {{#if (or ../isGM (not this.hidden))}}
                                <div class="research-breakpoint-container secondary-container">
                                    {{#if ../editMode}}
                                        <div class="event-field-group research-breakpoint-number">
                                            <div class="event-field-form">
                                                <i class="fa-solid fa-trash clickable-icon research-breakpoint-delete-button" data-action="removeResearchBreakpoint" data-event="{{../event.id}}" data-breakpoint="{{this.id}}"></i>
                                                <div>{{localize "PF2ESubsystems.Research.ResearchBreakpoint"}}</div>
                                                <input type="text" data-dtype="number" name="{{concat "events." ../event.id ".researchBreakpoints." this.id ".breakpoint"}}" value="{{this.breakpoint}}" class="tertiary-container primary-text-container" />
                                                <i class="fa-solid {{#if this.open}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-breakpoint-opener" data-action="toggleResearchOpenResearchBreakpoint" data-breakpoint="{{this.id}}"></i> 
                                            </div>
                                        </div>
                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <prose-mirror class="data-input tertiary-container" name="{{concat "events." ../event.id ".researchBreakpoints." this.id ".description"}}" value="{{this.description}}">
                                                {{{this.enrichedDescription}}}
                                            </prose-mirror>
                                        </div>
                                    {{else}}
                                        <div class="research-breakpoint-title">
                                            <div class="research-breakpoint-title-inner">
                                                <div class="title-small-container">
                                                    {{this.breakpoint}}
                                                    {{localize "PF2ESubsystems.Research.ResearchPoints"}}
                                                </div>
                                            </div>
                                            {{#if ../isGM}}<i class="fa-solid {{#if this.hidden}}fa-eye-slash{{else}}fa-eye{{/if}} clickable-icon research-breakpoint-hider" data-action="toggleResearchBreakpointHidden" data-event="{{../event.id}}" data-breakpoint="{{this.id}}"></i>{{/if}}
                                            <i class="fa-solid {{#if this.open}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-breakpoint-opener" data-action="toggleResearchOpenResearchBreakpoint" data-breakpoint="{{this.id}}"></i> 
                                        </div>

                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <div class="research-event-text">{{{this.enrichedDescription}}}</div>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            {{#if this.researchEventsShown}}
                <div class="research-events-container primary-container accent">
                    <div class="title-container primary-container">
                        <div class="title-container-inner">
                            {{localize "PF2ESubsystems.Research.ResearchEvents"}}
                            {{#if this.editMode}}<i class="fa-solid fa-plus clickable-icon" data-action="addResearchEvent" data-event="{{this.event.id}}"></i>{{/if}}
                        </div>
                    </div>
                    <div class="research-events-inner-container primary-text-container">
                        {{#each this.event.researchEvents}}
                            {{#if (or ../isGM (not this.hidden))}}
                                <div class="research-event-container secondary-container">
                                    {{#if ../editMode}}
                                        <div class="event-field-group research-event-header">
                                            <i class="fa-solid fa-trash clickable-icon research-event-delete-button" data-action="removeResearchEvent" data-event="{{../event.id}}" data-research-event={{this.id}}></i>
                                            <div class="event-field-form">
                                                <div>{{localize "PF2ESubsystems.Basic.Name"}}</div>
                                                <input type="text" name="{{concat "events." ../event.id ".researchEvents." this.id ".name"}}" value="{{this.name}}" class="tertiary-container" />
                                            </div>
                                            <div class="event-field-form">
                                                <div>{{localize "PF2ESubsystems.Research.Timing"}}</div>
                                                <input type="text" name="{{concat "events." ../event.id ".researchEvents." this.id ".timing"}}" value="{{this.timing}}" class="tertiary-container" />
                                            </div>
                                            <i class="fa-solid {{#if this.open}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-event-opener" data-action="researchToggleOpenResearchEvent" data-event="{{this.id}}"></i> 
                                        </div>
                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <prose-mirror class="data-input tertiary-container" name="{{concat "events." ../event.id ".researchEvents." this.id ".description"}}" value="{{this.description}}">
                                                {{{this.enrichedDescription}}}
                                            </prose-mirror>
                                        </div>
                                    {{else}}
                                        <div class="research-event-title">
                                            <div class="research-event-title-inner">
                                                <div class="title-small-container">{{this.name}}</div>
                                            </div>
                                            <div class="text-helper-big">{{this.timing}}</div>
                                            {{#if ../isGM}}<i class="fa-solid {{#if this.hidden}}fa-eye-slash{{else}}fa-eye{{/if}} clickable-icon research-event-hider" data-action="toggleResearchEventHidden" data-event="{{../event.id}}" data-research-event="{{this.id}}"></i>{{/if}}
                                            <i class="fa-solid {{#if this.open}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-event-opener" data-action="researchToggleOpenResearchEvent" data-event="{{this.id}}"></i> 
                                        </div>

                                        <div class="event-folding {{#if this.open}}unfolded{{/if}}">
                                            <div class="research-event-text">{{{this.enrichedDescription}}}</div>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>