<div class="event-outer-container">
    {{> "modules/pf2e-subsystems/templates/partials/navigate-back.hbs" label=(localize "PF2ESubsystems.Research.NavigateBack") action="navigateToSystem" }}
    <div class="event-container">
        <div class="event-sidebar">
            <div class="event-image">
                <img src="{{this.event.background}}" />
            </div>
            <div class="research-points-container primary-container">
                <div>{{localize "Research Points:"}}</div>
                &nbsp;
                <div class="research-points-number-container">
                    {{#if this.isGM}}<i class="fa-solid fa-caret-up clickable-icon research-points-number-upper" data-action="researchUpdateResearchPoints" data-event="{{this.event.id}}" data-increase="true"></i>{{/if}}
                    <div>{{this.event.researchPoints}}</div>
                    {{#if this.isGM}}<i class="fa-solid fa-caret-down clickable-icon {{#if (eq this.event.researchPoints 0)}}disabled{{/if}} research-points-number-lower" {{#if (gt this.event.researchPoints 0)}}data-action="researchUpdateResearchPoints"{{/if}} data-event="{{this.event.id}}"></i>{{/if}}
                </div>
            </div>
            <div class="research-premise primary-container active">
                <div class="title-container primary-container">
                    {{localize "Premise"}}
                </div>
                <div class="research-premise-content">
                    {{#if this.editMode}}
                        <textarea class="secondary-container" name="{{concat "events." this.event.id ".premise"}}" value="{{this.event.premise}}">{{{this.event.enrichedPremise}}}</textarea>
                    {{else}}
                        <span class="text-container">{{{this.event.enrichedPremise}}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="event-main-container">
            <div class="event-header-container">
                <div class="event-header-title-container">
                    <div class="event-header-title title-container secondary-container">{{this.event.name}}</div>
                </div>
                {{#if this.isGM}}
                    <div class="event-header-toolbar secondary-container">
                        <button class="tertiary-container" data-action="startEvent" data-event="{{this.event.id}}">{{localize "PF2ESubsystems.Research.StartResearch"}}</button>
                        <div class="toggle-switch">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            <input type="checkbox" name="editMode" {{checked this.editMode}} title="{{localize "PF2ESubsystems.View.ToggleEditMode"}}" />
                        </div>
                        <i class="fa-solid fa-passport primary-hover-container" data-action="copyStartEventLink" data-event="{{this.event.id}}" title="{{localize "PF2ESubsystems.View.CopyStartEventLink"}}"></i>
                    </div>
                {{/if}}
            </div>

            <div class="research-checks-container primary-container active">
                <div class="title-container primary-container">
                    <div class="title-container-inner">
                        {{localize "Research Checks"}}
                        {{#if this.editMode}}<i class="fa-solid fa-plus clickable-icon" data-action="addResearchCheck" data-event="{{this.event.id}}"></i>{{/if}}
                    </div>
                </div>
                <div class="research-checks-inner-container primary-text-container">
                    {{#if (and (not this.isGM) (eq this.revealedResearchChecks))}}
                        ?
                    {{else}}
                        {{#each this.event.researchChecks}}
                            <div class="research-check-container secondary-container">
                                {{#if ../editMode}}
                                    <div class="research-check-header">
                                        <i class="fa-solid fa-trash clickable-icon research-check-delete-button" data-action="removeResearchCheck" data-event="{{../event.id}}" data-check={{this.id}}></i>

                                        <div class="form-group">
                                            <label>{{localize "PF2ESubsystems.Basic.Name"}}</label>
                                            <div class="form-fields">
                                                <input class="tertiary-container" type="text" name="{{concat "events." ../event.id ".researchChecks." this.id ".name"}}" value="{{this.name}}" />
                                            </div>
                                        </div>
                                        
                                        <i class="fa-solid {{#if (eq this.id ../selected.openResearchCheck)}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-check-opener" data-action="researchToggleOpenResearchCheck" data-check="{{this.id}}"></i> 
                                    </div>
                                    <div class="research-check-folding {{#if (eq this.id ../selected.openResearchCheck)}}unfolded{{/if}}">
                                        <div class="form-group research-check-small-input">
                                            <label>{{localize "PF2ESubsystems.Research.MaxResearchPoints"}}</label>
                                            <div class="form-fields">
                                                <input class="tertiary-container" type="text" data-dtype="number" name="{{concat "events." ../event.id ".researchChecks." this.id ".maximumResearchPoints"}}" value="{{this.maximumResearchPoints}}" />
                                            </div>
                                        </div>

                                        <div class="research-check-skill-checks-container tertiary-container">
                                            <div class="research-check-skill-check-title title-small-container tertiary-container-active">
                                                <div class="research-check-skill-check-title-inner">
                                                    {{localize "PF2ESubsystems.Research.SkillChecks"}}
                                                    <i class="fa-solid fa-plus clickable-icon" data-action="researchAddResearchCheckSkillCheck" data-event="{{../event.id}}" data-check="{{this.id}}"></i>
                                                </div>
                                            </div>
                                            {{#each this.skillChecks}}
                                                <div class="form-group research-check-small-input">
                                                    <label>{{localize "PF2ESubsystems.Research.Skill"}}</label>
                                                    <div class="form-fields">
                                                        <select name="{{concat "events." ../../event.id ".researchChecks." ../id ".skillChecks." this.id ".skill" }}">
                                                            {{selectOptions ../../skillOptions selected=this.skill valueAttr="value" labelAttr="name" localize=true}}
                                                        </select>
                                                    </div>
                                                </div>                                      
                                            {{/each}}
                                        </div>

                                        <prose-mirror class="data-input tertiary-container" name="{{concat "events." ../event.id ".researchChecks." this.id ".description"}}" value="{{this.description}}">
                                            {{{this.enrichedDescription}}}
                                        </prose-mirror>
                                    </div>
                                {{else}}
                                    <div class="research-check-header">
                                        <div class="title-small-container">{{this.name}}</div>
                                        {{#if ../isGM}}
                                            <div class="research-check-subheader text-helper-big">
                                                <div>{{localize "Max Research Points:"}}</div>
                                                &nbsp;
                                                <div>{{this.maximumResearchPoints}}</div>
                                            </div> 
                                        {{/if}}  
                                        <i class="fa-solid {{#if (eq this.id ../selected.openResearchCheck)}}fa-angle-down{{else}}fa-angle-up{{/if}} clickable-icon research-check-opener" data-action="researchToggleOpenResearchCheck" data-check="{{this.id}}"></i> 
                                    </div>
                                    <div class="research-check-folding {{#if (eq this.id ../selected.openResearchCheck)}}unfolded{{/if}}">
                                        <div class="research-check-description">{{{this.description}}}</div>
                                        {{#each this.skillChecks}}
                                            <div>{{{this.element}}}</div>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            <div class="research-breakpoints-container primary-container active">
                <div class="title-container primary-container">
                    <div class="title-container-inner">
                        {{localize "Research Breakpoints"}}
                        {{#if this.editMode}}<i class="fa-solid fa-plus clickable-icon" data-action="addResearchBreakpoint" data-event="{{this.event.id}}"></i>{{/if}}
                    </div>
                </div>
                <div class="research-breakpoints-inner-container primary-text-container">
                    {{#if (and (not this.isGM) (eq this.revealedResearchBreakpoints))}}
                        ?
                    {{else}}
                        {{#each this.event.researchBreakpoints}}
                            <div class="research-breakpoint-container secondary-container">
                                {{#if ../editMode}}
                                    <div class="research-breakpoint-number">
                                        <div>{{localize "Breakpoint"}}</div>
                                        <input type="text" data-dtype="number" name="{{concat "events." ../event.id ".researchBreakpoints." this.id ".breakpoint"}}" value="{{this.breakpoint}}" class="tertiary-container primary-text-container" />
                                    </div>
                                    <textarea class="tertiary-container primary-text-container" name="{{concat "events." ../event.id ".researchBreakpoints." this.id ".description"}}" value="{{this.description}}">{{{this.description}}}</textarea>
                                    <i class="fa-solid fa-trash clickable-icon" data-action="removeResearchBreakpoint" data-event="{{../event.id}}" data-breakpoint="{{this.id}}"></i>
                                {{else}}
                                    <div class="research-breakpoint-number">
                                        <div class="research-breakpoint-number-title tertiary-container">{{localize "Breakpoint"}}</div>
                                        <div>{{this.breakpoint}}</div>
                                    </div>
                                    <div class="research-breakpoint-text primary-text-container">{{{this.description}}}</div>
                                    <i class="research-breakpoint-tool-icon fa-solid {{#if this.hidden}}fa-eye-slash{{else}}fa-eye{{/if}} clickable-icon" data-action="toggleResearchBreakpointHidden" data-event="{{../event.id}}" data-breakpoint="{{this.id}}"></i>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>

            {{#if (or (gt this.revealedResearchEvents 0) this.editMode)}}
                <div class="research-events-container primary-container active">
                    <div class="title-container primary-container">{{localize "Research Events"}}</div>
                    <div class="research-events-inner-container primary-text-container">
                        
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>