<div class="event-outer-container">
    {{> "modules/pf2e-subsystems/templates/partials/navigate-back.hbs" label=(localize "PF2ESubsystems.Chase.NavigateBack") action="navigateToSystem" showTour=this.event clipboardFallback=this.clipboardFallback }}
    <div class="event-container">
        <div class="event-sidebar">
            <div class="description-outer-container primary-container accent">
                <div class="title-container primary-container">
                    <div class="description-title-inner-container">
                        <div class="primary-text-container">{{localize "PF2ESubsystems.Chase.Premise"}}</div>
                    </div>
                </div>
                <div class="description-container">
                    {{#if this.editMode}}
                        <textarea class="secondary-container" name="{{concat "events." this.event.id ".premise"}}" value="{{this.event.premise}}">{{{this.event.enrichedPremise}}}</textarea>
                    {{else}}
                        {{{this.event.enrichedPremise}}}
                    {{/if}}
                </div>
            </div>
            {{#if this.showRounds}}
                <div class="rounds-outer-container title-container primary-container">
                    <div class="rounds-title-inner-container">
                        {{#if this.editMode}}
                            <div class="event-field-group">
                                <div class="event-field-form">
                                    <div class="primary-text-container">{{localize "PF2ESubsystems.Chase.MaxRounds"}}</div>
                                    <input type="text" data-dtype="Number" name="{{concat "events." this.event.id ".rounds.max"}}" value="{{this.event.rounds.max}}" class="secondary-container" />
                                </div>
                            </div>
                        {{else}}
                            <div class="primary-text-container">{{localize "PF2ESubsystems.Chase.Rounds"}}:</div>
                            &nbsp;
                            <div class="flexrow">
                                <div class="rounds-number-container">
                                    {{#if this.isGM}}<i class="fa-solid fa-caret-up clickable-icon {{#if (gte this.event.rounds.current this.event.rounds.max)}}disabled{{/if}} rounds-control-upper" {{#if (lt this.event.rounds.current this.event.rounds.max)}}data-action="researchUpdateRoundsCurrent"{{/if}} data-event="{{this.event.id}}" data-increase="true"></i>{{/if}}
                                    <div>{{this.event.rounds.current}}</div>
                                    {{#if this.isGM}}<i class="fa-solid fa-caret-down clickable-icon {{#if (eq this.event.rounds.current 0)}}disabled{{/if}} rounds-control-lower" {{#if (gt this.event.rounds.current 0)}}data-action="researchUpdateRoundsCurrent"{{/if}} data-event="{{this.event.id}}"></i>{{/if}}
                                </div>
                                /
                                <div>{{this.event.rounds.max}}</div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
            <div class="participants-outer-container primary-container accent">
                <div class="title-container controls primary-container">
                    <div class="participants-title-inner-container {{#if (not this.isGM)}}standalone{{/if}}">
                        {{#if this.editMode}}
                            <div class="participants-party-container clickable-icon" title="{{localize "PF2ESubsystems.Chase.AddAllPlayers"}}" data-action="addPlayerParticipants" data-event="{{this.event.id}}">
                                <i class="fa-solid fa-users"></i>
                            </div>
                        {{else}}
                            {{#if this.isGM}}
                                <div class="participants-party-container">
                                    <i class="fa-solid fa-caret-up participant-party-control-upper clickable-icon" title="{{localize "PF2ESubsystems.Chase.AdvanceAllPCs"}}" data-action="updatePlayerParticipantsObstacle" data-event="{{this.event.id}}" data-player="true" data-increase="true"></i>
                                    <i class="fa-solid fa-users"></i>
                                    <i class="fa-solid fa-caret-down participant-party-control-lower clickable-icon" title="{{localize "PF2ESubsystems.Chase.RetreatAllPCs"}}" data-action="updatePlayerParticipantsObstacle" data-event="{{this.event.id}}" data-player="true"></i>
                                </div>
                            {{/if}}
                        {{/if}}
                        <div class="primary-text-container">{{localize "PF2ESubsystems.Chase.Participants"}}</div>
                        {{#if this.editMode}}
                            <i class="fa-solid fa-plus participants-title-add clickable-icon" data-action="addParticipant" data-event="{{this.event.id}}" title="{{localize "PF2ESubsystems.Chase.AddParticipant"}}"></i>
                        {{else}}
                            {{#if this.isGM}}
                                <div class="participants-party-container npc">
                                    <i class="fa-solid fa-caret-up participant-party-control-upper clickable-icon" title="{{localize "PF2ESubsystems.Chase.AdvanceAllNPCs"}}" data-action="updatePlayerParticipantsObstacle" data-event="{{this.event.id}}" data-increase="true"></i>
                                    <i class="fa-solid fa-skull"></i>
                                    <i class="fa-solid fa-caret-down participant-party-control-lower clickable-icon" title="{{localize "PF2ESubsystems.Chase.RetreatAllNPCs"}}" data-action="updatePlayerParticipantsObstacle" data-event="{{this.event.id}}"></i>
                                </div>
                            {{/if}}
                        {{/if}}
                    </div>
                    {{#if this.editMode}}<div class="participants-helper-text text-helper">{{localize "PF2ESubsystems.Chase.AddOrDragInActor"}}</div>{{/if}}
                </div>
                <div class="participants-container">
                    {{#each this.event.participants as |participant|}}
                        <div class="participant-container secondary-container {{#if (and (not ../editMode) this.hasActed)}}accent{{/if}}">
                            <img src={{participant.img}} />
                            <div class="participant-data-container">
                                <div class="participant-data-container-label">{{participant.name}}</div>
                                <div class="participant-toolbar {{#if ../editMode}}editing{{/if}}">
                                    {{#if ../editMode}}
                                        <button class="tertiary-container" data-action="editParticipant" data-event="{{../event.id}}" data-participant="{{participant.id}}"><i class="fa-solid fa-pen-to-square clickable-icon"></i></button>
                                        <button class="tertiary-container" data-action="removeParticipant" data-event="{{../event.id}}" data-participant="{{participant.id}}"><i class="fa-solid fa-trash clickable-icon"></i></button>
                                    {{else}}
                                        <div class="participant-toolbar-number">
                                            {{#if (or ../isGM (and ../settings.playersCanEditPosition (eq participant.id ../playerId)))}}
                                                <i 
                                                    title="{{localize "PF2ESubsystems.Chase.AdvanceObstacle"}}"
                                                    class="fa-solid fa-caret-up participant-control-upper clickable-icon {{#if (gte participant.obstacle (PF2ESubSLength ../event.obstacles))}}disabled{{/if}}" 
                                                    data-action="updateParticipantObstacle" data-event="{{../event.id}}" data-id="{{participant.id}}" data-obstacle="{{PF2ESubSAdd participant.obstacle 1}}"
                                                ></i>
                                            {{/if}}
                                            <div>{{participant.obstacle}}</div>
                                            {{#if (or ../isGM (and ../settings.playersCanEditPosition (eq participant.id ../playerId)))}}
                                                <i 
                                                    title="{{localize "PF2ESubsystems.Chase.RetreatObstacle"}}"
                                                    class="fa-solid fa-caret-down participant-control-lower clickable-icon {{#if (eq participant.obstacle 1)}}disabled{{/if}}" 
                                                    data-action="updateParticipantObstacle" data-event="{{../event.id}}" data-id="{{participant.id}}" data-obstacle="{{PF2ESubSSub participant.obstacle 1}}"
                                                ></i>
                                            {{/if}}
                                        </div>
                                        <i class="fa-solid fa-check participant-checkmark clickable-icon {{#if this.hasActed}}has-acted{{/if}}" data-action="toggleParticipantHasActed" data-event="{{../event.id}}" data-participant="{{this.id}}" title="{{localize "PF2ESubsystems.Chase.MarkPlayerActed"}}"></i>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="event-main-container">
            <div class="event-header-container">
                <div class="event-header-title-container">
                    <div class="event-header-title title-container secondary-container">{{this.event.name}}</div>
                </div>
                {{> "modules/pf2e-subsystems/templates/partials/event-toolbar.hbs"}}
            </div>
            <fieldset class="chase-event-container primary-container">
                <legend class="chase-event-display">
                    {{#each this.event.obstacles as |obstacle id|}}
                        {{#if (or (not obstacle.locked) ../isGM)}}
                            {{> "modules/pf2e-subsystems/templates/partials/radio-button.hbs" locked=obstacle.locked selected=(eq obstacle.position ../currentObstacleNr) event=../event.id action="setCurrentObstacle" position=obstacle.position }}
                        {{/if}}
                    {{/each}}
                    {{#if this.editMode}}<i class="fa-solid fa-plus chase-event-display-add clickable-icon" data-action="addObstacle" data-event="{{this.event.id}}" title="{{localize "PF2ESubsystems.Chase.AddObstacle"}}"></i>{{/if}}
                </legend>
                <div class="title-container">
                    <div class="chase-event-header-inner">
                        <div class="chase-event-header-title primay-text-container">
                            {{#if this.editMode}}
                                <input type="text" class="title-small-container tertiary-container" name="{{concat "events." this.event.id ".obstacles." this.currentObstacle.id ".name"}}" value="{{this.currentObstacle.name}}" />
                                <i class="fa-solid fa-trash chase-event-header-title-delete clickable-icon {{#if (eq (PF2ESubSLength this.event.obstacles) 1)}}disabled{{/if}}" {{#if (gt (PF2ESubSLength this.event.obstacles) 1)}}data-action="removeObstacle"{{/if}} data-event="{{this.event.id}}" data-obstacle="{{this.currentObstacle.id}}"></i>
                            {{else}}
                                <div>
                                    <span>{{this.currentObstacle.name}}</span>
                                </div>
                                {{#if (and (not this.settings.hideObstacleLockIcon) (and this.isGM (not (eq this.currentObstacle.position 1))))}}
                                    <i class="fa-solid {{#if this.currentObstacle.locked}}fa-lock{{else}}fa-lock-open{{/if}} chase-event-lock clickable-icon" data-action="onToggleObstacleLock" data-event="{{this.event.id}}" data-position="{{this.currentObstacle.position}}"></i>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="chase-event-inner-container primary-container accent">
                    {{#if this.editMode}}
                        <img class="clickable-icon" src="{{this.currentObstacle.img}}" data-action="editImage" data-path="{{concat "events." this.event.id ".obstacles." this.currentObstacle.id ".img" }}" />
                    {{else}}
                        <img src="{{this.currentObstacle.img}}" />
                    {{/if}}

                    {{#if this.editMode}}
                        <div class="chase-event-chase-points-container primary-text-container">
                            <div>{{localize "PF2ESubsystems.Chase.ChasePoints"}}:</div>
                            &nbsp;
                            <input type="text" class="tertiary-container" value="{{this.currentObstacle.chasePoints.goal}}" data-event="{{this.event.id}}" data-obstacle="{{this.currentObstacle.id}}" />
                        </div>
                    {{else}}
                        {{#if (gt this.currentObstacle.chasePoints.goal 0)}}
                        <div class="chase-event-chase-points-container">
                            <div>{{localize "PF2ESubsystems.Chase.ChasePoints"}}:</div>
                            &nbsp;
                            <div class="chase-event-chase-points-inner-container">{{this.currentObstacle.chasePoints.current}}/{{this.currentObstacle.chasePoints.goal}}</div>
                            {{#if this.isGM}}
                                <div class="chase-event-chase-points-tools">
                                    <i class="fa-solid fa-caret-up clickable-icon {{#if this.currentObstacle.chasePoints.finished}}disabled{{/if}}" {{#if (not this.currentObstacle.chasePoints.finsihed)}}data-action="updateChasePoints"{{/if}} data-event="{{this.event.id}}" data-obstacle="{{this.currentObstacle.id}}" data-increase="true"></i>
                                    <i class="fa-solid fa-caret-down clickable-icon {{#if this.currentObstacle.chasePoints.atStart}}disabled{{/if}}" {{#if (not this.currentObstacle.chasePoints.atStart)}}data-action="updateChasePoints"{{/if}} data-event="{{this.event.id}}" data-obstacle="{{this.currentObstacle.id}}"></i>
                                </div>
                            {{/if}}
                        </div>
                        {{/if}}
                    {{/if}}
                
                    <div class="chase-event-data-container secondary-container">
                        {{#if this.editMode}}
                            <prose-mirror class="data-input" name="{{concat "events." this.event.id ".obstacles." this.currentObstacle.id ".overcome"}}" value="{{this.currentObstacle.overcome}}">
                                {{{this.currentObstacle.enrichedOvercome}}}
                            </prose-mirror>
                        {{else}}
                            {{{this.currentObstacle.enrichedOvercome}}}
                        {{/if}}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>