<div class="chase-outer-container">
    <div class="chase-header-container">
        <div class="chase-header-navigation">
            {{> "modules/pf2e-subsystems/templates/partials/navigate-back.hbs" label=(localize "Return To Chases") action="navigateToSystem" }}
        </div>
        <div class="chase-header-title-container">
            <div class="chase-header-title secondary-container">{{this.event.name}}</div>
        </div>
        <div class="chase-header-toolbar secondary-container">
            <div class="toggle-switch">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <input type="checkbox" name="editMode" {{checked this.editMode}} title="{{localize "Toggle Edit Mode"}}" />
            </div>
        </div>
    </div>
    <div class="chase-container">
        <div class="chase-sidebar primary-container active">
            <div class="partcipants-title-container primary-container">
                <div class="participants-title-inner-container">
                    <div class="participants-title">
                        <h4>{{localize "Participants"}}</h4>
                        <i class="fa-solid fa-plus participants-title-add clickable-icon" data-action="addParticipant" data-event="{{this.event.id}}" title="{{localize "Add Participants"}}"></i>
                    </div>
                </div>
                <div>{{localize "Add or drag in an actor"}}</div>
            </div>
            <div class="participants-container">
                {{#each this.event.participants as |participant id|}}
                    <div class="participant-container secondary-container">
                        <img src={{participant.img}} />
                        <div class="participant-data-container">
                            <div>{{participant.name}}</div>
                            <div class="participant-toolbar">
                                <i class="fa-solid fa-angle-left clickable-icon {{#if (eq participant.obstacle 1)}}disabled{{/if}}" data-action="updateParticipantObstacle" data-event="{{../event.id}}" data-id="{{id}}" data-obstacle="{{PF2ESubSSub participant.obstacle 1}}"></i>
                                <div>{{participant.obstacle}}</div>
                                <i class="fa-solid fa-angle-right clickable-icon {{#if (gte participant.obstacle (PF2ESubSLength ../event.obstacles))}}disabled{{/if}}" data-action="updateParticipantObstacle" data-event="{{../event.id}}" data-id="{{id}}" data-obstacle="{{PF2ESubSAdd participant.obstacle 1}}"></i>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="chase-event-container primary-container active">
            <div class="chase-event-header primary-container">
                <div class="chase-event-header-inner">
                    <div class="chase-event-header-title">
                        <input type="text" name="{{concat "events." this.event.id ".obstacles." this.currentObstacle.id ".name"}}" value="{{this.currentObstacle.name}}" />
                    </div>
                    <div class="chase-event-display">
                        {{#each this.event.obstacles as |obstacle id|}}
                            {{> "modules/pf2e-subsystems/templates/partials/radio-button.hbs" selected=(eq obstacle.position ../currentObstacleNr) action="setCurrentObstacle" position=obstacle.position }}
                        {{/each}}
                        <i class="fa-solid fa-plus chase-event-display-add clickable-icon" data-action="addObstacle" data-event="{{this.event.id}}" title="{{localize "Add Obstacle"}}"></i>
                    </div>
                </div>
            </div>
            <div class="chase-event-inner-container">
                {{#if this.currentObstacle}}
                    <img src="{{this.currentObstacle.img}}" class="clickable-icon" data-action="editImage" data-path="{{concat "events." this.event.id ".obstacles." this.currentObstacle.id ".img" }}" />
                    <div class="chase-event-data-container">
                        <div class="chase-event-goal-container">
                            
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>