<div class="export-container">
    <div class="selection-container">
        <table>
            <thead>
                <tr>
                    <th>{{localize "Influence"}}</th>
                    <th>{{localize "Chase"}}</th>
                    <th>{{localize "Research"}}</th>
                    <th>{{localize "Infiltration"}}</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <div class="export-footer">
        <button>{{localize "PF2ESubsystems.ImportExport.Export"}}</button>
        <button>{{localize "PF2ESubsystems.Basic.Cancel"}}</button>
    </div>
</div>